/* Header definitions*/
.banner {
	height: auto;
	width: 1200px;
	display: inline-block;
}

.logo {
	float: left;
	display: inline-block;
	height: 140px;
	width: 395px;
	margin-right: 10px;
}

address {
	font-style: normal;
	float: right;
	height: 140px;
	width: 395px;
	color: #298A08;
	font-size: 18px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
}

address ul li {
	margin: 10px 0px 10px 0px;
	list-style: none;
}
/*End header definitions*/


/* Main navigation definitions */
.mainnav {
	text-align: center;
	height: 30px;
	margin: 10px 0px 20px 0px;
}

nav ul {
    font-family: Arial, Verdana;
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav li ul {
    display: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    background: #298A08;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
    white-space: nowrap;
}

nav ul li a:hover {
	background: #31B404;
	padding: 5px 15px 5px 15px;
}

nav li:hover ul {
    display: block;
    position: absolute;
    text-align: left;
}

nav li:hover li {
    float: none;
    font-size: 12px;
}

nav li:hover li a:hover {
    background: #31B404;
}

nav a:visited {
	background-color: #0B610B;
}
/* End main navigation definitions*/

/*Content definitions */
.wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #F2FBEF;
	margin-bottom: 10px;
}
.introduction {
	padding: 15px;
	text-align: center;
}

.about {
	padding: 15px;
}

.history {
	padding: 15px;
}

.values {
	padding: 15px;
}

.values ul {
	margin-left: 40px;
}

.finance {
	padding: 15px;
}

.finance ul {
	margin-left: 40px;
}

.finance ol {
	margin-left: 40px;
}

.insurance {
	padding: 15px;
}

.privacy {
	padding: 15px;
}

.carRight {
	float: right;
	margin-right: 100px;
}

.carLeft {
	float: left;
	margin-left: 150px;
}

.desc span {
	font-size: 16px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	color: #298A08;
	font-weight: bold;
}

.descRight {
	margin-left: 100px;
	width: 500px;
	padding: 0px 15px 0px 30px;
}

.descLeft {
	padding: 0px 30px 0px 15px;
	margin-left: 750px;
}

.carheading {
	font-size: 25px;
	color: #298A08;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
	margin: 0;
}

.divider {
	margin: 80px 0;
	width: 1200px;
}

.divider2 {
	width: 1180px;
	margin: 25px 0px 25px 0px;
}

.contactus {
	width: 580px;
	padding: 10px 10px 10px 10px;
	margin-left: 170px;
}

.special {
	display: inline-block;
	width: 500px;
}

.specialContainer {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.specialRight span {
	font-size: 16px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	color: #298A08;
	font-weight: bold;
}

.specialLeft span {
	font-size: 16px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	color: #298A08;
	font-weight: bold;
}

.specialLeft {
	display: inline-block;
	width: 200px;
	text-align: left;
}

.specialRight {
	display: inline-block;
	width: 200px;
	text-align: left;
}

.carlist {
	list-style: none;
	font-size: 15px;
	padding-left: 20px;
}

.testimonial {
	padding: 15px;
}

.images_full img {
	display: block;
	margin-bottom: 10px;
	width: 348px;
	height: 200px;
}

.images_full img,
.images_thumbnails img {
  padding:3px;
  border:1px solid #CCC;
}

.images_thumbnails img {
  margin:4px;
  width: 100px;
  height: 100px;
}
/*End content definitions*/

/*Contact form definitions*/
.contactform {
	float: right;
	width: 220px;
	padding: 10px 10px 10px 10px;
	margin-top: -610px;
	margin-right: 160px;
}

.contactform span {
	height: 100px;
	font-size: 20px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	height: 100px;
	color: #298A08;
}

.contactform input {
	margin: 10px 0px 10px 0px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	border-radius: 5px;
	border: 2px groove #298A08;
	width: 200px;
}

.contactform textarea {
	margin-top: 10px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	border: 2px groove #298A08;
	border-radius: 5px;
	width: 200px;
	height: 100px;
}

.contactform #button {
	font-weight: bold;
	border-color: #298A08;
	color: #298A08;
	padding: 5px 20px 5px 20px;
}

.contactform #button:hover {
	color: #31B404;
}
/*End contact form definitions*/

/*Login form definitions*/
.login form {
	padding: 20px 20px 20px 20px;
	width: 350px;
	height: auto;
	margin-left: 401px;
	border: 4px groove #298A08;
	border-radius: 5px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
}

.login span {
	font-size: 20px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	height: 100px;
	color: #298A08;
	margin-right: 20px;
}

.login input {
	margin: 15px 0px 15px 0px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	border-radius: 5px;
	border: 2px groove #298A08;
}

.loginemail input {
	margin-left: 90px;
}

.password input {
	margin-left: 50px;
}

.buttonlogin {
	margin-left: 136px;
}

.login #button {
	font-weight: bold;
	border-color: #298A08;
	color: #298A08;
	padding: 5px 20px 5px 20px;
}

.login #button:hover {
	color: #31B404;
}

form a {
	font-size: 12px;
	margin-left: 112px;
}

/*End login form definitions*/

/*Client form definitions*/
.addclient form {
	text-align: center;
	padding: 10px 10px 10px 10px;
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 4px groove #298A08;
	border-radius: 5px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
}

.inputLeft {
	margin-right: 30px;
}

.addclient span {
	width: 170px;
	text-align: left;
	display: inline-block;
	font-size: 20px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	color: #298A08;
}

.addclient input {
	font-family: sans-serif, Helvetica, Arial, Verdana;
	border-radius: 5px;
	width: 150px;
	border: 2px groove #298A08;
}

.addclient select {
	font-family: sans-serif, Helvetica, Arial, Verdana;
	border-radius: 5px;
	width: 154px;
	border: 2px groove #298A08;
}

.addclient #button {
	margin-top: 15px;
	font-weight: bold;
	border-color: #298A08;
	color: #298A08;
	padding: 5px 20px 5px 20px;
}

.addclient #button:hover {
	color: #31B404;
}

.addclient h2 {
	margin-top: 0px;
}

/*End client form definitions*/

/*Salesperson form definitions*/
.addsalesperson form {
	text-align: center;
	padding: 10px 10px 10px 10px;
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 4px groove #298A08;
	border-radius: 5px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
}

.addsalesperson span {
	width: 100px;
	text-align: left;
	display: inline-block;
	font-size: 20px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	color: #298A08;
}

.addsalesperson input {
	font-family: sans-serif, Helvetica, Arial, Verdana;
	border-radius: 5px;
	border: 2px groove #298A08;
}


.addsalesperson #button {
	margin-top: 15px;
	font-weight: bold;
	border-color: #298A08;
	color: #298A08;
	padding: 5px 20px 5px 20px;
}

.addsalesperson #button:hover {
	color: #31B404;
}

/*End salesperson form definitions*/

/*Vehicle form definitions*/
.addvehicle form {
	padding: 10px 10px 10px 10px;
	text-align: center;
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 4px groove #298A08;
	border-radius: 5px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
}

.addvehicle span {
	text-align: left;
	display: inline-block;
	width: 160px;
	font-size: 20px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	color: #298A08;
}

.addvehicle input {
	margin-top: 40px;
	display: inline-block;
	width: 160px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	border-radius: 5px;
	border: 2px groove #298A08;
}

.addvehicle select {
	font-family: sans-serif, Helvetica, Arial, Verdana;
	border-radius: 5px;
	border: 2px groove #298A08;
	display: inline-block;
	width: 164px;
	color: #298A08;
}

.addvehicle #button {
	font-weight: bold;
	border-color: #298A08;
	color: #298A08;
	margin-top: 15px;
	padding: 5px 20px 5px 20px;
}

.addvehicle #button:hover {
	color: #31B404;
}

/*End vehicle form definitions*/

/*Client table definitions*/
.clienttable {
	border-collapse:collapse;
	margin-left: auto;
	margin-right: auto;
}

.clienttable th, td {
	border: 3px solid #31B404;
	height:30px;
	vertical-align:bottom;
}

th {
	text-align: center;
	color: #000000;
	font-size: 18px;
	padding: 5px;
}

td {
	padding: 2px;
	font-size: 14px;
}
/*End client table definitions*/
.employees {
	border-collapse:collapse;
	margin-left: auto;
	margin-right: auto;
}

.employees th, td {
	border: 3px solid #31B404;
	height:30px;
	vertical-align:bottom;
}

th {
	text-align: center;
	color: #000000;
	font-size: 18px;
	padding: 5px;
}

td {
	padding: 2px;
	font-size: 14px;
	padding-left: 5px;
}
/*Salesperson table definitions*/

/*End of salesperson table definitions*/

/*General Definitions*/
body {
	background-color: #F2FBEF;
	padding: 0;
	margin: 0;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	font-size: 16px;
	min-height: 100%;
	color: #000000;

}

h1 {
	font-size: 40px;
	color: #0B610B;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	text-align: center;
}

h2 {
	font-size: 25px;
	color: #0B610B;
	font-family: sans-serif, Helvetica, Arial, Verdana;
	margin: 10px 0px 10px 0px;
}

hr {
	border: 0;
	border-top: 1px solid #298A08;
	height: 0;
}

p {
	font-size: 16px;
	color: #000000;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: sans-serif, Helvetica, Arial, Verdana;
}
/*End general definitions*/

/*Footer definitions*/
footer {
	clear: both;
	text-align: center;
	font-size: 10px;
	margin-top: 10px;
	padding-bottom: 5px;
}

footer p {
	margin: 0px 0px 0px 0px;
	font-size: 10px;
}

footer a {
	font-size: 12px;
}
/*End footer definitions*/
